Source: igmpproxy
Section: contrib/net
Priority: extra
Maintainer: UBNT Package Maintainers <maintainers@ubnt.com>
Build-Depends: debhelper (>= 5), 
 autotools-dev, 
Standards-Version: 3.7.2

Package: igmpproxy
Architecture: any
Depends:  perl (>= 5.8.8), vyatta-bash | bash (>= 3.1), ${shlibs:Depends}
Description: The igmpproxy package
 This package has the igmpproxy program. 

